@tailwind base;
@tailwind components;
@tailwind utilities;

.display-linebreak {
  white-space: pre-line;
  line-height: 2em;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}
.footer {
  background-color: none;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 1rem;
  width: 100%;
  text-align: center;
  justify-content: center;
}
